
<div>
  <h1 style="margin:0">Button</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="md" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="lg" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="xl" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="2xl" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="3xl" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="4xl" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="md" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="lg" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="xl" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="2xl" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="3xl" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="4xl" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="md" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="lg" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="xl" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="2xl" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="3xl" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="4xl" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="md" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="lg" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="xl" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="2xl" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="3xl" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="4xl" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="md" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-m" data-size="lg" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="xl" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-l" data-size="2xl" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="3xl" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ictxt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ictxt body-xl" data-size="4xl" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-m" data-size="md" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-m" data-size="lg" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-l" data-size="xl" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-l" data-size="2xl" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-xl" data-size="3xl" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-xl" data-size="4xl" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-m" data-size="md" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-m" data-size="lg" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-l" data-size="xl" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-l" data-size="2xl" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-xl" data-size="3xl" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-xl" data-size="4xl" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-m" data-size="md" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-m" data-size="lg" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-l" data-size="xl" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-l" data-size="2xl" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-xl" data-size="3xl" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-xl" data-size="4xl" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-m" data-size="md" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-m" data-size="lg" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-l" data-size="xl" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-l" data-size="2xl" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-xl" data-size="3xl" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-ic</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-ic body-xl" data-size="4xl" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="md" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="lg" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="xl" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="2xl" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="3xl" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="primary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="4xl" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="md" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="lg" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="xl" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="2xl" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="3xl" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="secondary"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="4xl" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="md" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="lg" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="xl" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="2xl" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="3xl" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="neutral"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="4xl" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="md" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="lg" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="xl" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="2xl" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="3xl" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="line1"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="4xl" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="harmony-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="md"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="md" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="lg"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-m" data-size="lg" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="xl"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="xl" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="2xl"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-l" data-size="2xl" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="3xl"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="3xl" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    <div class="harmony-component-preview-wrap-wrapper">
      <div class="spec-wrapper harmony-spec-wrapper">
        <span class="spec-line">diet-btn-txt</span><span class="spec-line">data-size="4xl"</span><span class="spec-line">data-variant="line2"</span>
      </div>
      <div class="harmony-preview">
        <button class="diet-btn-txt body-xl" data-size="4xl" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>
</div>
