@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:var(--typography-mobile-subheaders-reg-16px-font-weight),var(--typography-body-reg-16px-font-weight),var(--typography-button-text-CTA-semibold-14-font-weight),var(--typography-body-reg-18px-font-weight),var(--typography-headers-h2-med-48px-font-weight),var(--typography-subheaders-reg-26px-120-font-weight),400,var(--components-seg-control-desktop-font-weight),var(--typography-body-med-18px-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
