:root {
  --canary-v2corebirdeye-white: rgba(255, 255, 255, 1);
  --canary-v2corebirdeye-black: rgba(33, 33, 33, 1);
  --canary-v2neutralsdark-greysgrey-500: rgba(77, 83, 96, 1);
  --canary-v2neutralsdark-greysgrey-600: rgba(62, 66, 77, 1);
  --canary-v2neutralsdark-greysgrey-700: rgba(46, 50, 58, 1);
  --canary-v2neutralsdark-greysgrey-400: rgba(113, 117, 128, 1);
  --canary-v2supportingblueblue-100: rgba(211, 217, 232, 1);
  --colours-canary-v1primaryblack: rgba(33, 33, 33, 1);
  --new-font-family: "Poppins", Helvetica;
  --new-font-weight: 500;
  --new-font-size: 11.642532348632812px;
  --new-letter-spacing: -0.4657012939453125px;
  --new-line-height: 120.00000476837158%;
  --new-font-style: normal;
  --typography-headers-h2-med-48px-font-family: "Poppins", Helvetica;
  --typography-headers-h2-med-48px-font-weight: 500;
  --typography-headers-h2-med-48px-font-size: 48px;
  --typography-headers-h2-med-48px-letter-spacing: -1.92px;
  --typography-headers-h2-med-48px-line-height: 110.00000238418579%;
  --typography-headers-h2-med-48px-font-style: normal;
  --typography-button-text-CTA-semibold-14-font-family: "Poppins", Helvetica;
  --typography-button-text-CTA-semibold-14-font-weight: 600;
  --typography-button-text-CTA-semibold-14-font-size: 14px;
  --typography-button-text-CTA-semibold-14-letter-spacing: -0.56px;
  --typography-button-text-CTA-semibold-14-line-height: 129.99999523162842%;
  --typography-button-text-CTA-semibold-14-font-style: normal;
  --typography-body-reg-16px-font-family: "Poppins", Helvetica;
  --typography-body-reg-16px-font-weight: 400;
  --typography-body-reg-16px-font-size: 16px;
  --typography-body-reg-16px-letter-spacing: -0.48px;
  --typography-body-reg-16px-line-height: 150%;
  --typography-body-reg-16px-font-style: normal;
  --components-seg-control-desktop-font-family: "Poppins", Helvetica;
  --components-seg-control-desktop-font-weight: 500;
  --components-seg-control-desktop-font-size: 16px;
  --components-seg-control-desktop-letter-spacing: -0.64px;
  --components-seg-control-desktop-line-height: 110.00000238418579%;
  --components-seg-control-desktop-font-style: normal;
  --typography-mobile-subheaders-reg-16px-font-family: "Poppins", Helvetica;
  --typography-mobile-subheaders-reg-16px-font-weight: 400;
  --typography-mobile-subheaders-reg-16px-font-size: 16px;
  --typography-mobile-subheaders-reg-16px-letter-spacing: -0.48px;
  --typography-mobile-subheaders-reg-16px-line-height: 120.00000476837158%;
  --typography-mobile-subheaders-reg-16px-font-style: normal;
  --typography-body-med-18px-font-family: "Poppins", Helvetica;
  --typography-body-med-18px-font-weight: 500;
  --typography-body-med-18px-font-size: 18px;
  --typography-body-med-18px-letter-spacing: -0.72px;
  --typography-body-med-18px-line-height: 150%;
  --typography-body-med-18px-font-style: normal;
  --typography-body-reg-18px-font-family: "Poppins", Helvetica;
  --typography-body-reg-18px-font-weight: 400;
  --typography-body-reg-18px-font-size: 18px;
  --typography-body-reg-18px-letter-spacing: -0.54px;
  --typography-body-reg-18px-line-height: 150%;
  --typography-body-reg-18px-font-style: normal;
  --typography-subheaders-reg-26px-120-font-family: "Poppins", Helvetica;
  --typography-subheaders-reg-26px-120-font-weight: 400;
  --typography-subheaders-reg-26px-120-font-size: 26px;
  --typography-subheaders-reg-26px-120-letter-spacing: -1.04px;
  --typography-subheaders-reg-26px-120-line-height: 120.00000476837158%;
  --typography-subheaders-reg-26px-120-font-style: normal;
}
