<div class="emailFormWrapper" data-email-cta>
  <div class="input-group">
    <input required type="email" name="emailId" autocomplete="off" class="input body-l" />
    <label class="user-label">Enter your business email</label>
  </div>
  <div class="HeroCTAs">
    <button type="button" data-clicktag="hero_watchdemo_lead_button" class="diet-btn-txt" data-size="lg" data-variant="line1">
      <span class="diet-btn-txt__label">Watch Demo</span>
    </button>
    <button type="button" data-clicktag="hero_seepricing_lead_button" class="diet-btn-txt" data-size="lg" data-variant="primary">
      <span class="diet-btn-txt__label">See Pricing</span>
    </button>
  </div>
</div>
